body{ font-family: Helvetica,Arial,clean,sans-serif;
      font-size:110%;
      line-height:1.5em;
      padding: 0px;
      margin: 0px;} 
a { color: #666; }
h1 a, h2 a { color: #000; text-decoration: none;}
a img { border:none; }
.wrap { margin-left: 300px;
        width:510px;
        }
h1 { padding: 10px;
     padding-left: 300px;
     margin: 10px 0px 0px -10px;
     font-size:195%;
     font-size:255%;
     }
.intro { margin-left: 290px;
         width: 510px; 
         margin-bottom: 10px;
         padding-bottom: 20px;
         border-bottom: 1px solid #ababab;
         color: #666;}
.post .data { margin-left: -220px;
              float: left;
              width: 200px;
              text-align: right;}
.post { clear: both; 
        margin-bottom: 50px;}
.post .data { border-right: 1px solid #ababab;
              padding-right: 10px;}
.post .data h2 { margin: 0px; }
.post .data h2 a { text-decoration: none;}

.post .content { text-align:justify; 
                 width: 500px;}
.date { color: #666; }
.pagination { border-bottom: 1px solid #ababab;
              margin-top: -35px;
              margin-bottom: 10px;
              padding-bottom: 15px;
              color: #666;
              font-size: 80%;}
.outro { margin-bottom: 25px; 
         color: #666;
         font-size: 80%;}