---
layout: default
title: Some Idiot With A Camera
---
<div class="intro">&nbsp;<!-- I have a camera and I'm not very good with it. --></div>
<!--  Let's see if I get better with practice.</div> -->
{% for post in paginator.posts %}
<div class="post">
  <div class="data">
    <h2>{{post.title}}</h2>
    <span class="date">{{post.date | date_to_long_string}}</span>
  </div>
  <div class="content">
    {% if post.img %}<a href="{{post.img_link}}"><img src="{{post.img}}"/></a>{% endif %}
    {{post.content}}
  </div>
</div>
{% endfor %}
